{{!-- <p class="box">Je suis le footer</p> --}}
<table class="box">
    <thead>
        <tr>
            <th>Liens</th>
            <th>Ressources</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/about">À propos</a></td>
        </tr>
    </tbody>
</table>