<h1>TheKarma</h1>
<p>TheKarma est un bot développé par <strong>Ozenrol64</strong>.</p>
<p>Vous pouvez configurer le bot, l'ajouter à votre serveur ou même afficher les informations sur ses commandes!</p>